<a href="https://colab.research.google.com/github/sks95/python_basics/blob/main/numpy_assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import numpy as np

In [34]:
# Create an array of 10 zeros

arr = np.zeros(10,dtype='int32')
(arr)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int32)

In [35]:
# Create an array of 10 ones

arr = np.ones(10)
(arr)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [36]:
# Create an array of 10 fives

arr = np.ones(10)*5
(arr)

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

In [37]:
# Create an array of integers from 10 to 50

arr = np.arange(10,51)
(arr)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50])

In [38]:
# Create an array of even integers from 10 to 50

arr = np.arange(10,51,2)
(arr)

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48, 50])

In [41]:
# Create a 3 x 4 matrix ranging from 0 to 12

arr = np.arange(12, dtype='int32').reshape(3,4)
(arr)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]], dtype=int32)

In [42]:
# Create a 3 x 3 Identity matrix

arr = np.eye(3,3, dtype='int32')
arr

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]], dtype=int32)

In [52]:
# Use Numpy to generate a random number between 0 and 1

num = np.random.normal(0,1,1)
num

array([0.34104441])

In [54]:
# Use Numpy to generate an array of 25 Random numbers sampled from a normal distribution

arr = np.random.normal(0,1,25)
arr

array([ 0.21002781,  2.24987868, -2.04364053,  0.52861778,  0.73807523,
       -1.04395102,  0.02040442, -1.03077116,  0.56426694,  0.96723309,
       -0.40710361, -0.42025281, -2.25884901,  1.52889919, -1.21175161,
        2.4469744 , -2.62588371, -0.08128315,  0.09425199,  0.48636006,
        1.28446286,  0.35586844, -0.82267602,  0.04590995,  0.96090309])

In [61]:
# Create an (10x10)array having number from 0.01 to 1 increasing by 0.01

arr = np.linspace(0.01,1, num=100).reshape(10,10)
arr

array([[0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ],
       [0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 ],
       [0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 ],
       [0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 ],
       [0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 ],
       [0.51, 0.52, 0.53, 0.54, 0.55, 0.56, 0.57, 0.58, 0.59, 0.6 ],
       [0.61, 0.62, 0.63, 0.64, 0.65, 0.66, 0.67, 0.68, 0.69, 0.7 ],
       [0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77, 0.78, 0.79, 0.8 ],
       [0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88, 0.89, 0.9 ],
       [0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1.  ]])

# Numpy Indexing & Slicing

In [64]:
ar = (np.arange(25)+1).reshape(5,5)
ar

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

extract array

[ [12,13,14],

[17,18,19],

[22,23,24] ]

In [87]:
ar[2:,1:4]

array([[12, 13, 14],
       [17, 18, 19],
       [22, 23, 24]])

extract array

[ [14, 13, 12],

[19, 18, 17],

[24, 23, 22] ]

In [106]:
ar[2:,1:4]

array([[12, 13, 14],
       [17, 18, 19],
       [22, 23, 24]])