<a href="https://colab.research.google.com/github/sks95/python_basics/blob/main/numpy_assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np

In [3]:
# Create an array of 10 zeros

arr = np.zeros(10,dtype='int32')
(arr)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int32)

In [4]:
# Create an array of 10 ones

arr = np.ones(10)
(arr)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [5]:
# Create an array of 10 fives

arr = np.ones(10)*5
(arr)

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

In [6]:
# Create an array of integers from 10 to 50

arr = np.arange(10,51)
(arr)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50])

In [7]:
# Create an array of even integers from 10 to 50

arr = np.arange(10,51,2)
(arr)

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48, 50])

In [8]:
# Create a 3 x 4 matrix ranging from 0 to 12

arr = np.arange(12, dtype='int32').reshape(3,4)
(arr)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]], dtype=int32)

In [9]:
# Create a 3 x 3 Identity matrix

arr = np.eye(3,3, dtype='int32')
arr

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]], dtype=int32)

In [10]:
# Use Numpy to generate a random number between 0 and 1

num = np.random.normal(0,1,1)
num

array([0.99148725])

In [11]:
# Use Numpy to generate an array of 25 Random numbers sampled from a normal distribution

arr = np.random.normal(0,1,25)
arr

array([ 0.75646852,  0.9452796 , -0.58901394, -0.5116021 , -2.51700956,
        2.29767987,  0.49618056, -2.45531173,  0.84523578,  1.03720546,
        0.23136855, -0.8831368 , -0.21467897, -0.28607925,  0.29638459,
        1.03138503,  0.65647295,  1.86371897, -0.60131767,  1.00697355,
        0.3610214 ,  1.04039581,  0.64150345,  0.47029631, -0.49388889])

In [12]:
# Create an (10x10)array having number from 0.01 to 1 increasing by 0.01

arr = np.linspace(0.01,1, num=100).reshape(10,10)
arr

array([[0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ],
       [0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 ],
       [0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 ],
       [0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 ],
       [0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 ],
       [0.51, 0.52, 0.53, 0.54, 0.55, 0.56, 0.57, 0.58, 0.59, 0.6 ],
       [0.61, 0.62, 0.63, 0.64, 0.65, 0.66, 0.67, 0.68, 0.69, 0.7 ],
       [0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77, 0.78, 0.79, 0.8 ],
       [0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88, 0.89, 0.9 ],
       [0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1.  ]])

# Numpy Indexing & Slicing

In [13]:
ar = (np.arange(25)+1).reshape(5,5)
ar

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

extract array

[ [12,13,14],

[17,18,19],

[22,23,24] ]

In [14]:
new_ar = ar[2:,1:4]
new_ar

array([[12, 13, 14],
       [17, 18, 19],
       [22, 23, 24]])

extract array

[ [14, 13, 12],

[19, 18, 17],

[24, 23, 22] ]

In [17]:
new_ar1 = new_ar[:,::-1]

extract array

[ [24, 23, 22],

[19, 18, 17],

[14, 13, 12],
]

In [21]:
new_ar2 = new_ar1[::-1,:];
new_ar2

array([[24, 23, 22],
       [19, 18, 17],
       [14, 13, 12]])

# Split Concatenate

In [23]:
ar = np.arange(2,10)
ar

array([2, 3, 4, 5, 6, 7, 8, 9])

Split array to generate 3 arrays with content

[2,3,4]

[5, 6]

[]

[7,8,9]