<a href="https://colab.research.google.com/github/sks95/python_basics/blob/main/pandas_pep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd

# Series and Data frame

Series can only contain single list with index, whereas dataframe can be made of more than one series or we can say that a dataframe is a collection of series that can be used to analyse the data.

In [6]:
A = pd.Series([1,2,3,4])
A

0    1
1    2
2    3
3    4
dtype: int64

In [10]:
A = pd.Series(['Apple','Banana','Orange','Kiwi'], index=['a','b','c','d'])
A

a     Apple
b    Banana
c    Orange
d      Kiwi
dtype: object

In [14]:
print(A.values)
print(type(A.values))

['Apple' 'Banana' 'Orange' 'Kiwi']
<class 'numpy.ndarray'>

In [16]:
print(type(A.index))
print(A.index)

<class 'pandas.core.indexes.base.Index'>
Index(['a', 'b', 'c', 'd'], dtype='object')

Slicing

Implicit - iloc [Start:end) // last element excluded // Automatic created

Explicit - loc [Start:end] // both included // Created manually

In [18]:
A

a     Apple
b    Banana
c    Orange
d      Kiwi
dtype: object

In [25]:
print(A.iloc[0:3])
print(A.loc['a':'d'])

a     Apple
b    Banana
c    Orange
dtype: object
a     Apple
b    Banana
c    Orange
d      Kiwi
dtype: object