<a href="https://colab.research.google.com/github/sks95/python_basics/blob/main/pandas_pep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd

# Series and Data frame

Series can only contain single list with index, whereas dataframe can be made of more than one series or we can say that a dataframe is a collection of series that can be used to analyse the data.

In [6]:
A = pd.Series([1,2,3,4])
A

0    1
1    2
2    3
3    4
dtype: int64

In [10]:
A = pd.Series(['Apple','Banana','Orange','Kiwi'], index=['a','b','c','d'])
A

a     Apple
b    Banana
c    Orange
d      Kiwi
dtype: object

In [14]:
print(A.values)
print(type(A.values))

['Apple' 'Banana' 'Orange' 'Kiwi']
<class 'numpy.ndarray'>

In [16]:
print(type(A.index))
print(A.index)

<class 'pandas.core.indexes.base.Index'>
Index(['a', 'b', 'c', 'd'], dtype='object')

Slicing

Implicit - iloc [Start:end) // last element excluded // Automatic created

Explicit - loc [Start:end] // both included // Created manually

In [18]:
A

a     Apple
b    Banana
c    Orange
d      Kiwi
dtype: object

In [25]:
print(A.iloc[0:3])
print(A.loc['a':'d'])

a     Apple
b    Banana
c    Orange
dtype: object
a     Apple
b    Banana
c    Orange
d      Kiwi
dtype: object

In [28]:
C = pd.Series([1,2,3,4,5],index = [1,4,2,7,2])
C

1    1
4    2
2    3
7    4
2    5
dtype: int64

In [31]:
# C.loc[1:2]

# KeyError: 'Cannot get right slice bound for non-unique label: 2'

Creating from Dictionary

In [46]:
weightd = {'A': 60, 'B': 58, 'C':75}
heightd = {'A': 5.5, 'B': 6, 'C':6.2}
weight = pd.Series(weightd)
height = pd.Series(heightd)
weight

A    60
B    58
C    75
dtype: int64

In [35]:
weight.iloc[0:2]

A    60
B    58
dtype: int64

# DataFrame

rowindexing -> indexes

column indexing -> column

In [38]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [42]:
print(df.index)
print(df.columns)

RangeIndex(start=0, stop=3, step=1)
RangeIndex(start=0, stop=3, step=1)

In [49]:
# Creating Dataframes by using existing series

df = pd.DataFrame({
    'Height': height,
    'Weight': weight
})
df

   Height  Weight
A     5.5      60
B     6.0      58
C     6.2      75

In [53]:
print(df.index)
print(df.columns)
print(df['Height'])

Index(['A', 'B', 'C'], dtype='object')
Index(['Height', 'Weight'], dtype='object')
A    5.5
B    6.0
C    6.2
Name: Height, dtype: float64

In [56]:
print(df.iloc[1])
print(df.loc['B':'C'])

Height     6.0
Weight    58.0
Name: B, dtype: float64
   Height  Weight
B     6.0      58
C     6.2      75

Indexing Slicing

In [58]:
df

   Height  Weight
A     5.5      60
B     6.0      58
C     6.2      75

In [62]:
print(df['Height'])
print(df[['Height','Weight']])
print(df[[True,False,True]])

A    5.5
B    6.0
C    6.2
Name: Height, dtype: float64
   Height  Weight
A     5.5      60
B     6.0      58
C     6.2      75
   Height  Weight
A     5.5      60
C     6.2      75

In [64]:
df[df['Height']>5.5]

   Height  Weight
B     6.0      58
C     6.2      75

# Column Operations

In [84]:
df = pd.DataFrame({
    'Height': height,
    'Weight': weight
})
df

   Height  Weight
A     5.5      60
B     6.0      58
C     6.2      75

In [86]:
df['Height_CM'] = df['Height']*30.48
df

   Height  Weight  Height_CM
A     5.5      60    167.640
B     6.0      58    182.880
C     6.2      75    188.976

In [87]:
# del df['Height_CM']

df.drop(columns = ['Height_CM'],index='A',inplace = True)
df

   Height  Weight
B     6.0      58
C     6.2      75

In [88]:
df = pd.DataFrame({
    'Height': height,
    'Weight': weight
})
df

   Height  Weight
A     5.5      60
B     6.0      58
C     6.2      75

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, A to C
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Height  3 non-null      float64
 1   Weight  3 non-null      int64
dtypes: float64(1), int64(1)
memory usage: 180.0+ bytes

In [91]:
# gives top 2 elements
print(df.head(2))
print(df.tail(2))

   Height  Weight
A     5.5      60
B     6.0      58
   Height  Weight
B     6.0      58
C     6.2      75

In [80]:
df.describe()

         Height     Weight  Height_CM
count  3.000000   3.000000    3.00000
mean   5.900000  64.333333  179.83200
std    0.360555   9.291573   10.98972
min    5.500000  58.000000  167.64000
25%    5.750000  59.000000  175.26000
50%    6.000000  60.000000  182.88000
75%    6.100000  67.500000  185.92800
max    6.200000  75.000000  188.97600

# Missing Values

In [94]:
df = pd.DataFrame({
    'Height': {'A': 48, 'C':69},
    'Weight': {'B':5.8, 'C':6.2},
    'Age': {'A': 10, 'B':15, 'C':12}
})
df

   Height  Weight  Age
A    48.0     NaN   10
C    69.0     6.2   12
B     NaN     5.8   15

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, A to B
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Height  2 non-null      float64
 1   Weight  2 non-null      float64
 2   Age     3 non-null      int64
dtypes: float64(2), int64(1)
memory usage: 204.0+ bytes

In [101]:
# dropping values with NA // axis = 1 means columns

df.dropna(axis=1) # inplace is not true so no change in original

   Height  Age
A    48.0   10
C    69.0   12
B    58.5   15

In [102]:
df['Height'].fillna(df['Height'].mean(), inplace=True)
df

   Height  Weight  Age
A    48.0     NaN   10
C    69.0     6.2   12
B    58.5     5.8   15

# Playing with Data

In [121]:
df = pd.read_csv('https://raw.githubusercontent.com/neylsoncrepalde/projeto_eda_covid/master/covid_19_data.csv')
df

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
26708,26709,05/19/2020,Wyoming,US,2020-05-20 02:32:19,776.0,10.0,0.0
26709,26710,05/19/2020,Xinjiang,Mainland China,2020-05-20 02:32:19,76.0,3.0,73.0
26710,26711,05/19/2020,Yukon,Canada,2020-05-20 02:32:19,11.0,0.0,11.0
26711,26712,05/19/2020,Yunnan,Mainland China,2020-05-20 02:32:19,185.0,2.0,183.0
26712,26713,05/19/2020,Zhejiang,Mainland China,2020-05-20 02:32:19,1268.0,1.0,1267.0

In [122]:
df.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26713 entries, 0 to 26712
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SNo              26713 non-null  int64
 1   ObservationDate  26713 non-null  object
 2   Province/State   12882 non-null  object
 3   Country/Region   26713 non-null  object
 4   Last Update      26713 non-null  object
 5   Confirmed        26713 non-null  float64
 6   Deaths           26713 non-null  float64
 7   Recovered        26713 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 1.6+ MB

In [124]:
df.describe()

                SNo      Confirmed        Deaths      Recovered
count  26713.000000   26713.000000  26713.000000   26713.000000
mean   13357.000000    5690.647550    373.353236    1736.979224
std     7711.523207   23417.369124   2214.074387   10864.727709
min        1.000000       0.000000      0.000000       0.000000
25%     6679.000000      18.000000      0.000000       0.000000
50%    13357.000000     192.000000      3.000000       8.000000
75%    20035.000000    1350.000000     28.000000     187.000000
max    26713.000000  352845.000000  35341.000000  289392.000000

In [125]:
df.shape

(26713, 8)

## Drop Columns in dataframe

In [ ]:
df.drop(columns=['SNo','Last Update'],inplace=True)

In [129]:
df

,ObservationDate,Province/State,Country/Region,Confirmed,Deaths,Recovered
0,01/22/2020,Anhui,Mainland China,1.0,0.0,0.0
1,01/22/2020,Beijing,Mainland China,14.0,0.0,0.0
2,01/22/2020,Chongqing,Mainland China,6.0,0.0,0.0
3,01/22/2020,Fujian,Mainland China,1.0,0.0,0.0
4,01/22/2020,Gansu,Mainland China,0.0,0.0,0.0
...,...,...,...,...,...,...
26708,05/19/2020,Wyoming,US,776.0,10.0,0.0
26709,05/19/2020,Xinjiang,Mainland China,76.0,3.0,73.0
26710,05/19/2020,Yukon,Canada,11.0,0.0,11.0
26711,05/19/2020,Yunnan,Mainland China,185.0,2.0,183.0
26712,05/19/2020,Zhejiang,Mainland China,1268.0,1.0,1267.0

## Rename Columns

In [132]:
df.rename(columns={'Province/State':'State','Country/Region':'Country'}, inplace = True)
df

      ObservationDate      State         Country  Confirmed  Deaths  Recovered
0          01/22/2020      Anhui  Mainland China        1.0     0.0        0.0
1          01/22/2020    Beijing  Mainland China       14.0     0.0        0.0
2          01/22/2020  Chongqing  Mainland China        6.0     0.0        0.0
3          01/22/2020     Fujian  Mainland China        1.0     0.0        0.0
4          01/22/2020      Gansu  Mainland China        0.0     0.0        0.0
...               ...        ...             ...        ...     ...        ...
26708      05/19/2020    Wyoming              US      776.0    10.0        0.0
26709      05/19/2020   Xinjiang  Mainland China       76.0     3.0       73.0
26710      05/19/2020      Yukon          Canada       11.0     0.0       11.0
26711      05/19/2020     Yunnan  Mainland China      185.0     2.0      183.0
26712      05/19/2020   Zhejiang  Mainland China     1268.0     1.0     1267.0

[26713 rows x 6 columns]

## Change into Date Datatype

In [136]:
df['ObservationDate'] = pd.to_datetime(df['ObservationDate'])
df['ObservationDate'].dtype

dtype('<M8[ns]')

In [138]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26713 entries, 0 to 26712
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ObservationDate  26713 non-null  datetime64[ns]
 1   State            12882 non-null  object
 2   Country          26713 non-null  object
 3   Confirmed        26713 non-null  float64
 4   Deaths           26713 non-null  float64
 5   Recovered        26713 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 1.2+ MB

In [140]:
max_conf = df['Confirmed'].max()
df[df['Confirmed']==max_conf]

      ObservationDate     State Country  Confirmed   Deaths  Recovered
26638      2020-05-19  New York      US   352845.0  28558.0        0.0

## Grouping

In [143]:
df.groupby('Country').sum().reset_index()

# reset index is used to keep index separate warna jispe group by lagaya usse index bana leta hai

                            Country  Confirmed   Deaths  Recovered
0                        Azerbaijan        1.0      0.0        0.0
1                   ('St. Martin',)        2.0      0.0        0.0
2                       Afghanistan   115615.0   3211.0    13641.0
3                           Albania    34319.0   1408.0    20212.0
4                           Algeria   183263.0  19089.0    76184.0
..                              ...        ...      ...        ...
218                  Western Sahara      256.0      0.0      144.0
219                           Yemen     1190.0    190.0       30.0
220                          Zambia     8987.0    166.0     3102.0
221                        Zimbabwe     1386.0    171.0      226.0
222  occupied Palestinian territory       25.0      0.0        0.0

[223 rows x 4 columns]

In [145]:
# Group by on multiple columns based on order of occurrence

df.groupby(['Country','ObservationDate'])[['Confirmed','Deaths']].sum().reset_index()

                              Country ObservationDate  Confirmed  Deaths
0                          Azerbaijan      2020-02-28        1.0     0.0
1                     ('St. Martin',)      2020-03-10        2.0     0.0
2                         Afghanistan      2020-02-24        1.0     0.0
3                         Afghanistan      2020-02-25        1.0     0.0
4                         Afghanistan      2020-02-26        1.0     0.0
...                               ...             ...        ...     ...
14696  occupied Palestinian territory      2020-03-12        0.0     0.0
14697  occupied Palestinian territory      2020-03-14        0.0     0.0
14698  occupied Palestinian territory      2020-03-15        0.0     0.0
14699  occupied Palestinian territory      2020-03-16        0.0     0.0
14700  occupied Palestinian territory      2020-03-17        0.0     0.0

[14701 rows x 4 columns]