<a href="https://colab.research.google.com/github/sks95/python_basics/blob/main/pandas_pep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd

# Series and Data frame

Series can only contain single list with index, whereas dataframe can be made of more than one series or we can say that a dataframe is a collection of series that can be used to analyse the data.

In [6]:
A = pd.Series([1,2,3,4])
A

0    1
1    2
2    3
3    4
dtype: int64

In [10]:
A = pd.Series(['Apple','Banana','Orange','Kiwi'], index=['a','b','c','d'])
A

a     Apple
b    Banana
c    Orange
d      Kiwi
dtype: object

In [14]:
print(A.values)
print(type(A.values))

['Apple' 'Banana' 'Orange' 'Kiwi']
<class 'numpy.ndarray'>

In [16]:
print(type(A.index))
print(A.index)

<class 'pandas.core.indexes.base.Index'>
Index(['a', 'b', 'c', 'd'], dtype='object')

Slicing

Implicit - iloc [Start:end) // last element excluded // Automatic created

Explicit - loc [Start:end] // both included // Created manually

In [18]:
A

a     Apple
b    Banana
c    Orange
d      Kiwi
dtype: object

In [25]:
print(A.iloc[0:3])
print(A.loc['a':'d'])

a     Apple
b    Banana
c    Orange
dtype: object
a     Apple
b    Banana
c    Orange
d      Kiwi
dtype: object

In [28]:
C = pd.Series([1,2,3,4,5],index = [1,4,2,7,2])
C

1    1
4    2
2    3
7    4
2    5
dtype: int64

In [31]:
# C.loc[1:2]

# KeyError: 'Cannot get right slice bound for non-unique label: 2'

Creating from Dictionary

In [46]:
weightd = {'A': 60, 'B': 58, 'C':75}
heightd = {'A': 5.5, 'B': 6, 'C':6.2}
weight = pd.Series(weightd)
height = pd.Series(heightd)
weight

A    60
B    58
C    75
dtype: int64

In [35]:
weight.iloc[0:2]

A    60
B    58
dtype: int64

# DataFrame

rowindexing -> indexes

column indexing -> column

In [38]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [42]:
print(df.index)
print(df.columns)

RangeIndex(start=0, stop=3, step=1)
RangeIndex(start=0, stop=3, step=1)

In [49]:
# Creating Dataframes by using existing series

df = pd.DataFrame({
    'Height': height,
    'Weight': weight
})
df

   Height  Weight
A     5.5      60
B     6.0      58
C     6.2      75

In [53]:
print(df.index)
print(df.columns)
print(df['Height'])

Index(['A', 'B', 'C'], dtype='object')
Index(['Height', 'Weight'], dtype='object')
A    5.5
B    6.0
C    6.2
Name: Height, dtype: float64