<a href="https://colab.research.google.com/github/sks95/python_basics/blob/main/Practice_question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q. Write a program to reverse an integer in python.

In [8]:
num = 1234
ans = 0

while num != 0:
    ans = ans * 10 + num % 10
    num //= 10

print(ans)

4321

Another Approach

In [14]:
num = 123
print(str(num)[::-1])

321

Q. Write a program to print fibonacci series

In [20]:
# 0 1 1 2 3 5 8 13

num = 7 # take any input
a = 0
b = 1
c = 0

for x in range(num):
  print(c)
  c = a + b
  b = a
  a = c

0
1
1
2
3
5
8

Q. Program to swap 2 numbers without using 3rd

In [29]:
# swap without 3rd variable
x = 100
y = 200

x,y = y,x
print(x)
print(y)

# another approach
a = 10
b = 20

a = a ^ b
b = a ^ b
a = a ^ b

print(a)
print(b)

20
10
200
100

Q. Program to calculate LCM and GCD of 2 numbers

In [37]:
x = 20
y = 50
t1,t2 = x,y

while x % y != 0:
  rem = x % y
  x = y
  y = rem

gcd = y
lcm = int(t1 * t2 / gcd)

print(lcm)
print(gcd)

100
10

Q. Concatenate 2 strings using join()

In [48]:
fname = "Shivam"
lname = "Sharma"

print(" ".join([fname,lname]));

Shivam Sharma

Q. Program to convert Decimal number into Binary

In [54]:
num = 10

print(bin(num).replace("0b",""))

1010

Q. Write a lambda function to find power of a number

In [58]:
a = 2
b = 3

x = lambda a , b : a**b

print(x(a,b))

8

Q. Find duplicate characters in a string

In [60]:
name = "pepcoding"

dup_dict = {}

for char in name:
  if char in dup_dict:
    print(char)
    dup_dict[char] += 1
  else :
    dup_dict[char] = 1

p