<a href="https://colab.research.google.com/github/sks95/python_basics/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Lists - dynamic sized arrays that can contain mutable elements

# Different operations on list

my_list = ['red','blue','green', 'pink'];

print(len(my_list));
my_list.insert(2, 'yellow');
print(my_list);
my_list.append('brown');
print(my_list);
my_list.extend(['crimson','beige', 'magenta']);
print(my_list);
print(my_list.index('crimson'));


# Remove or Pop elements from list
popped_elem = my_list.pop();
print(popped_elem);
my_list.remove('yellow');
print(my_list);

4
['red', 'blue', 'yellow', 'green', 'pink']
['red', 'blue', 'yellow', 'green', 'pink', 'brown']
['red', 'blue', 'yellow', 'green', 'pink', 'brown', 'crimson', 'beige', 'magenta']
6
magenta
['red', 'blue', 'green', 'pink', 'brown', 'crimson', 'beige']

In [ ]:
# Handy operations on list 

num_list = [1,2,3,4,5,6];

print(max(num_list));
print(min(num_list));
print(sum(num_list));
num_list = num_list*2;
num_list.insert(2, 3);
print(num_list);
print(num_list.count(3));

6
1
21
[1, 2, 3, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]
3

In [ ]:
# Understanding indexing, slicing and selection of elements

print(my_list);
print(my_list[4]);
print(my_list[-3]);
print(my_list[0:5]);
print(my_list[1:4]);
print(my_list[2:]);
print(my_list[:3]);
print(my_list[:-3]);
print(my_list[-3:]);

['red', 'blue', 'green', 'pink', 'brown', 'crimson', 'beige']
brown
brown
['red', 'blue', 'green', 'pink', 'brown']
['blue', 'green', 'pink']
['green', 'pink', 'brown', 'crimson', 'beige']
['red', 'blue', 'green']
['red', 'blue', 'green', 'pink']
['brown', 'crimson', 'beige']

In [ ]:
# Removing duplicates from a list

print(my_list);
new_list = []
[new_list.append(x) for x in my_list if x not in new_list];
print(new_list);

['red', 'blue', 'green', 'pink', 'brown', 'crimson', 'beige']
['red', 'blue', 'green', 'pink', 'brown', 'crimson', 'beige']

In [ ]:
# Sets - unordered collection data type 
# // iterable, mutable and has no duplicates values
# // just like mathematical sets
# // based on hash table data structure

set_var = set()
print(set_var);
print(type(set_var));
set_var = {'Avengers', 'Hitman', 'Ironman', 'Ironman'};
print(set_var);
set_var.add('Hulk')
print(set_var);
set_new = {'Avengers', 'Hitman', 'Ironman'};
print(set_var.difference(set_new));
print(set_var);
set_var.difference_update(set_new);
print(set_var);

set()
<class 'set'>
{'Ironman', 'Avengers', 'Hitman'}
{'Ironman', 'Avengers', 'Hulk', 'Hitman'}
{'Hulk'}
{'Ironman', 'Avengers', 'Hulk', 'Hitman'}
{'Hulk'}

In [ ]:
# Dictionaries - is a collection which is unordered, changeable and indexed  
# Key value Pair form of store

cars = {"car1":'Audi', "car2":"BMW", "car3":"Carrera", "car4":"Dodge"};
print(cars);
print(type(cars));
print(cars['car2']);
cars['car1'] = 'Maruti'; # mutable
print(cars);
cars['cars5'] = 'Mustang'; # update
print(cars);

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Carrera', 'car4': 'Dodge'}
<class 'dict'>
BMW
{'car1': 'Maruti', 'car2': 'BMW', 'car3': 'Carrera', 'car4': 'Dodge'}
{'car1': 'Maruti', 'car2': 'BMW', 'car3': 'Carrera', 'car4': 'Dodge', 'cars5': 'Mustang'}

In [ ]:
# Looping through keys in dictionary
for x in cars:
  print(x);

car1
car2
car3
car4

In [ ]:
# Looping through values in dictionary
for x in cars.values():
  print(x);

Audi
BMW
Carrera
Dodge

In [ ]:
# Looping through both key and values
for x in cars.items():
  print(x);

('car1', 'Audi')
('car2', 'BMW')
('car3', 'Carrera')
('car4', 'Dodge')

In [ ]:
# Nested Dictionaries

car1_mode1 = {'BMW':1960};
car2_mode2 = {'Audi':1970};
car3_mode3 = {'Porsche':1980};
car4_mode4 = {'Maruti':1950};
car_type = {'car1':car1_mode1, 'car2':car2_mode2, 'car3':car3_mode3, 'car4':car4_mode4 };
print(car_type);
print(car_type['car3']);
print(car_type['car3']['Porsche']);

{'car1': {'BMW': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Porsche': 1980}, 'car4': {'Maruti': 1950}}
{'Porsche': 1980}
1980

In [ ]:
# Tuples - is a collection which is ordered and unchangeable(immutable)
# imp : item assignment not allowed, though whole can be changed

my_tuple = ('rohit','chaman', 'boman');
print(type(my_tuple));
# print(my_tuple);
# my_tuple[0] = 'shivam'; # error tuple' object does not support item assignment

my_tuple = ('hello', 'world','hello','hello');  # can be allowed
print(my_tuple);
print(my_tuple.count('hello'));
print(my_tuple.index('world'));

<class 'tuple'>
('hello', 'world', 'hello', 'hello')
3
1